body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(135deg, #ffdee9 0%, #b5fffc 100%);
  min-height: 100vh;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
